langchain
langchain_openai
tavily-python
ipykernel
dotenv
langgraph
langchain_community
langchain-google-genai
langchain_core
graphviz
grandalf
langchain_groq
chromadb
langchain_experimental
fastapi
uvicorn
pypdf
PyMuPDF
langchain-text-splitters
bs4
faiss-cpu
Pillow
google
google-genai
transformers
torch